menu "Ixylon"

config IXL_NDEBUG
    bool "Build IXL in Release Mode"
    help
        Builds a production version of the Ixylon driver library, missing
        debugging output.

config IXL_JEMALLOC
    bool "Use jemalloc as memory allocator for Ixylon"
    default n
    help
        Instruct the build system to link the driver library against jemalloc
        instead of L4Re's standard memory allocator.

endmenu
